<a href="https://colab.research.google.com/github/otaviossousa/IA-ADS/blob/main/IA_Introdu%C3%A7%C3%A3o_a_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução ao Python: Do Básico ao Avançado

## Fundamentos, Funções, Objetos, Listas, e Mais

![Logo do Python ou uma ilustração relacionada à programação](https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/390px-Python_logo_and_wordmark.svg.png)

# Objetivos da Aula

- Conhecer os fundamentos básicos do Python
- Compreender o uso de listas e list comprehension
- Entender a importância e o uso de módulos e bibliotecas
- Introduzir conceitos de orientação a objetos
- Explorar a declaração match e suas aplicações

# **Fundamentos do Python**

### Tópicos: Variáveis, Tipos de Dados, Estruturas de Controle

![Hello World](https://miro.medium.com/v2/resize:fit:786/format:webp/1*iND_uCSZM-UMdl5v5XxijA.png)

## Variáveis e Tipos de Dados

- Strings - str
- Inteiros - int
- Floats - float
- Boolean - bool

#### Variáveis
- Usam o padrão snake case (snake_case)
- Mesmas regras de identificadores de outras linguagens (Podemos usar caracteres especiais de acentuação)
  - Não pode começar com números
  - Não pode ter caracteres especiais (%, &, +, ...)
  - Não pode usar palavras reservadas

In [ ]:
nome = 'Antonio'
num = 100
real = 12.50
logico = True
nota:float = 9.8 # Sugerir o tipo padrão da variável
print(type(nome))
print(type(nota))
nota = 'goiaba'
print(type(nota))

<class 'str'>
<class 'float'>
<class 'str'>

#### Comando de saída

In [ ]:
print('Hello World!')

Hello World!

#### Comando padrão de entrada
```input``` - a saída é sempre uma string (str)

In [ ]:
nome = input('Digite seu nome: ')
print(nome)

Digite seu nome: Antonio
Antonio

### Operadores
- Aritméticos
- Relacionais
- Lógicos

##### Operadores Matemáticos

In [ ]:
print(1 + 2) # soma
print(3 - 2) # subtração
print(4 * 2) # multiplicação
print(5 / 2) # Divisão real
print(5 // 2) # Divisão inteira
print(5 % 2) # módulo (resto da divisão)
print(2 ** 10) # exponenciação
print(25 ** 0.5)

3
1
8
2.5
2
1
1024
5.0

In [ ]:
print('Antonio ' + 'Sousa') # Concatenação
print('Antonio ' * 5) # Concatena a string vezes o número multiplicado

Antonio Sousa
Antonio Antonio Antonio Antonio Antonio

#### Operadores Relacionais
- O resultado sempre será um valor booleano
- Verdadeiro = ```True```
- Falso = ```False```

In [ ]:
print(2 > 3)
print(5 < 10)
print(7 <= 8)
print(7 >= 8)
print(7 == 7)
print(7 != 7)

False
True
True
False
True
False

In [ ]:
7 in [1, 2, 3, 4] # Pertence

False

In [ ]:
7 not in [1, 2, 3, 4] # Não pertence

True

#### Strings

In [ ]:
'Isso é uma string'
"Isso é uma string"
'''Isso é uma docstring'''
"""Isso é uma docstring"""
print("""Batatinha quando nasce
espalha ramos pelo chão""")

Batatinha quando nasce
espalha ramos pelo chão

#### Operadore lógicos
- Ou - ```or```
- E - ```and```
- Não - ```not```

In [ ]:
print(True or False)
print(False and True)
print(not False)

True
False
True

#### fstrings

In [ ]:
nome = 'Antonio'
idade = 38
print(f'{nome} tem {idade} anos')

Antonio tem 38 anos

## Estruturas de Controle

- Seleção: if, if-else, if-elif-else

- Repetição: while, for

### Estruturas de Seleção

In [ ]:
idade = 17
if idade >= 18:
  print('Maior de idade')
print('Fora do if')

if idade >= 18:
  print('Maior de idade')
else:
  print('Menor de idade')

Fora do if
Menor de idade

In [ ]:
estacao = 'primavera'
if estacao == 'verao':
  print('Faz calor')
elif estacao == 'outono':
  print('Folhas caem')
elif estacao == 'inverno':
  print('Faz frio')
elif estacao == 'primavera':
  print('Tem flores')
else:
  print('Não existe')

Tem flores

In [ ]:
dia = 1
match dia:
  case 1:
    print('domingo')
  case 2:
    print('segunda')
  case 3:
    print('terça')
  case _:
    print('Dia inválido')

domingo

### Estruturas de Repetição

In [ ]:
# Exibir os números de 1 até 10
x = 1
while x <= 10:
  print(x, end=' ')
  x += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Soma todos os números lidos até que o 0 seja digitado
soma = 0
while True:
  n = int(input('Digite um número, parar digite 0: '))
  soma = soma + n
  if n == 0:
    break
print(f'A soma é {soma}')

Digite um número, parar digite 0: 5
Digite um número, parar digite 0: 6
Digite um número, parar digite 0: 7
Digite um número, parar digite 0: 0
A soma é 18

#### Usando o ```for```
- Só funciona com elementos iteráveis
- Usar com o ```range```

In [ ]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(1, 10))) # (1, 10) 1 entra e 10 não entra

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
print(list(range(1, 11)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(list(range(1, 11, 2)))

[1, 3, 5, 7, 9]

In [ ]:
print(list(range(1, 11, 5)))

[1, 6]

In [ ]:
print(list(range(11, 1, -1)))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2]

In [ ]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(1, 11):
  print(i, end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
for i in range(0, 101, 2):
  print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
# Tabuada de multiplicação de um número lido
n = int(input('Digite um número: '))
for i in range(1, 11):
  print(f'{i} x {n} = {i * n}')

Digite um número: 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

In [ ]:
frase = 'eu gosto de goiaba'
cont = 0
for letra in frase:
  if letra in 'aeiou':
    cont += 1

print(f'A frase tem {cont} vogais')

A frase tem 9 vogais

# Introdução às Listas

### Conceitos: Criação, acesso, e manipulação de listas

In [ ]:
lista = []
print(lista)
lista.append(1)
print(lista)
lista.append(2)
print(lista)

[]
[1]
[1, 2]

In [ ]:
lista = list(range(10))
print(lista)
print(f'O tamanho da lista {len(lista)}')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
O tamanho da lista 10

In [ ]:
print(lista[0])
print(lista[9])
lista[4] = 400
print(lista)

0
9
[0, 1, 2, 3, 400, 5, 6, 7, 8, 9]

In [ ]:
lista = list(range(10))
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
del lista[1]

In [ ]:
print(lista)

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lista.reverse() # Operação ocorre sobre a lista, sempre
print(lista)

[9, 8, 7, 6, 5, 4, 3, 2, 0]

### Slicing de listas

In [ ]:
lista = list(range(10))
print(lista)
print(lista[0:4])
print(lista[:4])
print(lista[4:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3]
[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(len(lista) - 1, -1, -1):
  print(lista[i], end= ' ')

9 8 7 6 5 4 3 2 1 0

In [ ]:
print(lista[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
print(lista[1::2])

[1, 3, 5, 7, 9]

In [ ]:
lista = list(range(10))
outra = lista[:] # outra = lista.copy()
print(lista)
print(outra)
outra[4] = 400
print(lista)
print(outra)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 400, 5, 6, 7, 8, 9]

In [ ]:
lista = list(range(10))
print(lista)
lista.append(10)
print(lista)
# lista.append([100, 200])
lista.extend([100, 200])
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200]

# Tuplas

### Tuplas são imutáveis

In [ ]:
tupla = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
print(type(tupla))
print(tupla)

<class 'tuple'>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
print(tupla[0])
print(tupla[9])
print(len(tupla))

0
9
10

In [ ]:
tupla[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla[0:5]

(0, 1, 2, 3, 4)

In [ ]:
tupla = tuple(range(1, 101))
print(tupla)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100)

In [ ]:
lista = list(tupla)
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
tupla.index(10)

9

# Dicionários

### Estrutura com chave e valor
### ```dic = {chave: valor}```

In [ ]:
dd = {'86': 'Piauí', '85': 'Ceará', '98': 'Maranhão'}
print(dd)

{'86': 'Piauí', '85': 'Ceará', '98': 'Maranhão'}

In [ ]:
print(dd['86'])

Piauí

In [ ]:
dd['89'] = 'Piauí'
print(dd)

{'86': 'Piauí', '85': 'Ceará', '98': 'Maranhão', '89': 'Piauí'}

In [ ]:
dd = {'Piauí': (86, 89), 'Ceará': (85,88), 'Maranhão': (98, 99) }
print(dd['Piauí'])

(86, 89)

In [ ]:
for chave in dd.keys():
  print(chave)

Piauí
Ceará
Maranhão

In [ ]:
print(dd.keys())

dict_keys(['Piauí', 'Ceará', 'Maranhão'])

In [ ]:
for chave in dd:
  print(dd[chave])

(86, 89)
(85, 88)
(98, 99)

In [ ]:
for valor in dd.values():
  print(valor)

(86, 89)
(85, 88)
(98, 99)

In [ ]:
for chave, valor in dd.items():
  print(chave, valor)

Piauí (86, 89)
Ceará (85, 88)
Maranhão (98, 99)

In [ ]:
for _, valor in dd.items():
  print(valor)

(86, 89)
(85, 88)
(98, 99)

# List Comprehension

### Definição: Uma maneira concisa de criar listas
### Todos os conceitos aplicados para lista pode ser usando em tuplas e dicionários

In [ ]:
lista = [x for x in range(1, 11)]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista_quadrado = [x ** 2 for x in lista]
print(lista_quadrado)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
lista_par = [x for x in lista if x % 2 == 0]
print(lista_par)

[2, 4, 6, 8, 10]

In [ ]:
lista_par = [x if x % 2 == 0 else 'Não é par' for x in lista]
print(lista_par)

['Não é par', 2, 'Não é par', 4, 'Não é par', 6, 'Não é par', 8, 'Não é par', 10]

In [ ]:
tupla_par = tuple(x for x in lista if x % 2 == 0)
print(tupla_par)

(2, 4, 6, 8, 10)

In [ ]:
dic = {x: y for x, y in enumerate(lista) if x % 2 == 0}
print(dic)

{0: 1, 2: 3, 4: 5, 6: 7, 8: 9}

In [ ]:
enumerate

# Introdução a Funções

### Detalhes: Definição, Argumentos, Retorno

In [ ]:
def soma(x, y):
  print(x + y)
soma(1, 2)

3

In [ ]:
def soma(x, y):
  return x + y

print(soma(1, 2))

3

In [ ]:
def soma(x, y = 0):
  return x + y
print(soma(10))
print(soma(10, 20))

10
30

In [ ]:
def divisao(x, y=1):
  return x / y

print(divisao(10))
print(divisao(10, 2))
print(divisao(y = 10, x = 2))

10.0
5.0
0.2

In [ ]:
def soma(*args):
  s = 0
  for x in args:
    s += x
  return s

print(soma(10))
print(soma(10, 20))
print(soma(10, 20, 30))
print(soma(*[1, 2, 3, 4]))

10
30
60
10

In [ ]:
def nome_completo(**kwargs):
  return f'{kwargs["nome"]}  {kwargs["sobrenome"]}'

dic = {'nome': 'Antonio', 'sobrenome': 'Sousa'}

print(nome_completo(nome = 'Antonio', sobrenome='Sousa'))

Antonio Sousa

In [ ]:
def nome_completo(**kwargs):
  return f'{kwargs["nome"]} {kwargs["nome_meio"]} {kwargs["sobrenome"]}'

dic = {'nome': 'Antonio', 'sobrenome': 'Sousa'}

print(nome_completo(nome = 'Antonio', nome_meio='Santos de', sobrenome='Sousa'))

Antonio Santos de Sousa

# Importação de Módulos e Bibliotecas

### Detalhes: Importância, Como Importar, Bibliotecas Populares (NumPy, pandas)

### ```import <arquivo.py>```
### ```import <arquivo.py> as <outro_nome>```
### ```from <arquivo.py> import <classe>```
### ```from <arquivo.py> import <funcao>```
### ```from <arquivo.py> import <variavel>```
### ```from <arquivo.py> import <variavel> as <outro_nome>```

### Para transformar uma pasta em um pacote python que possa ser importado em outros lugares crie um arquivo com o nome ```__init__.py```

In [ ]:
import math

print(math.pi)

3.141592653589793

In [ ]:
from math import sqrt

print(sqrt(25))

5.0

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sample_data/mnist_train_small.csv')

df.head()

,6,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.581,0.582,0.583,0.584,0.585,0.586,0.587,0.588,0.589,0.590
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from pandas import Grouper as gr

## Objetos e Classes

### Detalhes: Conceitos de Classes, Atributos, Métodos

In [ ]:
class Pessoa:
  quant_pessoas = 0
  def __init__(self, nome, idade):
    self.nome = nome
    self.idade = idade

  def ano_nascimento(self, ano_atual):
    return ano_atual - self.idade

  def __str__(self):
    return f'nome: {self.nome} tem idade de {self.idade}'

In [ ]:
p1 = Pessoa('Antonio', 38)
print(p1)
print('Ano de nascimento ' + str(p1.ano_nascimento(2023)))

nome: Antonio tem idade de 38
Ano de nascimento 1985

In [ ]:
p1.nome = 'Antonino'
print(p1)

nome: Antonino tem idade de 38

In [ ]:
p2 = Pessoa('Evaldo', 35)
p2.quant_pessoas = 10

print(p1.quant_pessoas)
print(p2.quant_pessoas)
print(Pessoa.quant_pessoas)

0
10
0

In [ ]:
class Pessoa:
  def __init__(self, nome, idade):
    self.__nome = nome
    self.__idade = idade

  # get
  @property
  def nome(self):
    return self.__nome

  #set
  @nome.setter
  def nome(self, valor):
    if (len(valor) <= 2):
      print('Nome inválido')
      return
    self.__nome = valor

  def __str__(self):
    return f'{self.__nome} tem {self.__idade} anos'

p1 = Pessoa('Andrew', 20)
print(p1.nome)

Andrew

In [ ]:
p1.nome = 'Dy'
print(p1)

Nome inválido
Andrew tem 20 anos

In [ ]:
class Generico:
  pass

def generica():
  pass

g = Generico()

# Recursos Adicionais

- Links para documentação oficial, tutoriais, e fóruns de discussão sobre Python
  - [Site do Python](https://www.python.org/)
  - [Roadmap Python](https://roadmap.sh/python)
  - [Roadmap Data Science](https://roadmap.sh/ai-data-scientist)